*.o
*.ttf
*.eot
*.ctf
Makefile*
configure*
.*
aclocal.m4
autom4te.cache
ar-lib
compile
config.*
depcomp
eot2ttf
missing
install-sh
a.out
out
*.a
*.la
*.lo
stamp-h1
*.csv
!.gitignore
autoscan.log
libtool
ltmain.sh
